
    {% assign section = site.data.sitetext.testimonials %}
    <section class="page-section py-5" id="{{ section.section | default: 'testimonials' }}">
        <div class="container">
            <!-- Testimonials Section -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ section.title }}</h2>
                    <!-- <h3 class="textblock-subheading text-muted">
                        <a class="badge badge-pill" style="background-color: #c6f7ff !important;">
                            {{ section.text | default: "" }}
                        </a>
                    </h3> -->
                </div>
            </div>
            <div class="row">
                {% for person in section.people %}
                    <div class="col-lg-6">
                        <div class="team-member">
                            <!-- <img class="mx-auto rounded-circle" src="{{ person.image }}" alt=""> -->
                            <p class="text-muted font-italic">{{ person.testimony }}</p>
                            <h5>{{ person.name }}</h5>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

  
